div {
  margin: auto;
}

h3 {
  margin: 0px;
  background-color: #BFF;
  font-weight: bold;
}

input {
  width: 40px;
  height: 30px;
}

span.aqua {
  background-color: aqua;
}

span.pink {
  background-color: pink;
}

a.button {
  margin: 5px 10px;
  padding: 10px 10px;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  text-decoration: none;
  color: black;
  border: 2px solid;
  border-radius: 25px;
}

svg {
  margin: 5px 15px 2px;
  padding: 0px;
}

g {
  pointer-events: none;
}
